[tools.rust]
# keep in sync with bevy_cli
version = "nightly-2025-06-26"
components = "rustc-dev,llvm-tools-preview,clippy"
targets = "x86_64-pc-windows-msvc,x86_64-unknown-linux-gnu"

# Disable sccache
[tasks.bevy_lint]
hide = true
depends = ["install_bevy_lint"]
usage = """
    arg "<pkg>" var=#true default=app
    flag "--fix"
"""
run = """
RUSTC_WRAPPER=""
FIX=${usage_fix:+--fix}
bevy_lint --locked --all-features \
    $FIX -p ${usage_pkg};
"""

[tasks.clippy]
hide = true
usage = """
    arg "<pkg>" var=#true default=app
    flag "--fix"
"""
run = """
RUSTC_WRAPPER="";
FIX=${usage_fix:+--fix}
cargo --color=always clippy --locked --all-features \
    $FIX -p ${usage_pkg}
"""
