# SSH #########################################################################

# The idea with this section is to sync files using a server/client protocol.
# The server then opens the app at the specified path, assuming it has the right
# auth. Ideally, we would just use a game stream host like Moonlight/Sunshine
# instead, but my GPU isn't strong enough for that.

[env]
_.file = {path = ".config/.env.json", redact = true }

[tools]
sops = "latest"
age = "latest"

[tasks.rsync]
hide = true
raw=true
usage = """
    arg "<bin>" default="app"
"""
run = """
rsync -avzr --progress --mkpath \
    ./assets \
    ./target/debug/${usage_bin} \
    "$SSH_IP:$SSH_OUT"
"""

[tasks.play]
raw=true
description="Run the application (SSH)"
usage = """
    flag "--bin <bin>" default="app"
    flag "--args <args>" env="ARGS"
    flag "--auth <auth>" env="auth"
"""
run = """
mise build
mise rsync
AUTH="\\"auth\\": \\"${usage_auth}\\""
PATH="\\"path\\": \\"$SSH_OUT/${usage_bin}\\""
ARGS="\\"args\\": \\"${usage_args}\\""
JSON="{$AUTH, $PATH, $ARGS}"
echo $JSON
/usr/bin/curl $SSH_IP:9995 -sd "$JSON"
"""
