[env]
_.source = ".config/env.sh"

[tools]
"mold" = "latest"
act = "latest"

[tools.rust]
# keep in sync with bevy_cli
version = "nightly-2025-06-26"
components = "rustc-codegen-cranelift-preview,rustc-dev,llvm-tools-preview,clippy"
targets = "x86_64-pc-windows-msvc,x86_64-unknown-linux-gnu"

[tasks.install_bevy_lint]
hide = true
run = """
rustup run nightly-2025-06-26 cargo install \
    --git https://github.com/TheBevyFlock/bevy_cli.git \
    --tag lint-v0.4.0 \
    --locked \
    bevy_lint || true
"""


## CHECKS #####################################################################

[tasks."check:deps"]
alias = "deny"
tools = { "cargo:cargo-deny" = "latest" }
description = "Check dependencies with cargo-deny"
run = """
cargo deny --workspace \
    -L error \
    check advisories bans sources \
    --hide-inclusion-graph
"""

[tasks.bevy_lint]
hide = true
depends = ["install_bevy_lint"]
usage = """
    arg "<pkg>" var=#true default=app
    flag "--fix"
"""
run = """
RUSTC_WRAPPER="sccache"
CARGO=$(rustup which --toolchain nightly-2025-06-26 cargo) bevy_lint
FIX=${usage_fix:+--fix}
bevy_lint --locked --all-features --target-dir=target/bevy_lint \
    $FIX -p ${usage_pkg}
"""

[tasks.clippy]
hide = true
usage = """
    arg "<pkg>" var=#true default=app
    flag "--fix"
"""
run = """
RUSTC_WRAPPER="sccache"
FIX=${usage_fix:+--fix}
cargo --color=always clippy --locked --all-features --target-dir=target/clippy \
    $FIX -p ${usage_pkg}
"""

[tasks.check]
description = "Lint package(s) with Clippy and bevy_lint. (Default: app)"
alias = "check-app"
sources = ["src"]
usage = """
    arg "<pkg>" var=#true default=app
"""
raw = true
run = """
mise clippy -p ${usage_pkg} ::: bevy_lint -p ${usage_pkg}
"""


## FIXES ######################################################################

[tasks."fix:rust"]
alias = "fix-rust"
description = "Fix any fixable issues in rust. Includes formatting."
depends = ["check --fix"]

[tasks.fix]
description = "Fix all fixable issues."
depends = ["fix:rust"]

## BUILD AND DEPLOY ###########################################################

[tasks.ci]
tools = { "act" = "latest" }
description = "Test CI locally with nektos/act"
run = "act -P ubuntu-24.04=ghcr.io/catthehacker/ubuntu:act-24.04"

[tasks.test]
tools = { "cargo:cargo-nextest" = "latest" }
description = "Run tests for a specific package or all packages"
usage = """
    flag "--rust-log <rust_log>" env="RUST_LOG" default="app=debug"
"""
run = """
    RUST_LOG=${usage_rust_log?} cargo nextest run -F dev
"""

# LOCAL #######################################################################

[tasks.build]
description = "Build the specified workspace binary. (Default: 'app')"
env = { "RUSTC_WRAPPER" = "sccache" }
tools = { "sccache" = "latest" }
usage = """
    arg "<bin>" default="app"
    arg "[rustc_opts]" var=#true
"""
run = "cargo build --features $FEATURES --bin ${usage_bin} -- ${usage_rustc_opts}"

[tasks.play]
description = "Run the specified workspace binary. (Default: 'app')"
usage = """
    arg "<bin>" default="app"
    arg "[rest]" var=#true default="--features $FEATURES"
"""
run = "cargo run --bin ${usage_bin} ${usage_rest}"

# LOCAL #######################################################################

# to be executed in the local environment
[tasks.listen]
description = "Run a local server to listen for rsync'd application files."
raw = true
run = "uv run .config/scripts/listen.py"

# GENERATION ##################################################################

[tasks.new]
raw=true
alias=['generate', 'n']
description="Generate a new service or screen."
tools={"cargo:cargo-generate" = "latest"}
usage = '''
arg "<template>" help="The template to generate." {
    choices "screen" "service"
}

arg "<name>" help="Name of the generated module." long_help="""
The chosen template will be output to the src directory corresponding to the
template, postfixed with given template name. For example, calling
'mise new service foo/bar' will generate 'src/service/foo/bar/...'.
"""

flag "--debug" help="Enable debug output."
'''
run='''
#!/usr/bin/bash
TEMPLATE=${usage_template?}
NAME=${usage_name?}
DEBUG=${usage_debug:+--debug}

BASENAME=$(basename $NAME)
DESTINATION="$(realpath src/$TEMPLATE/$(dirname $NAME))"

if [[ -n "$DEBUG" ]]; then
cat <<EOF
DEBUG
TEMPLATE="$TEMPLATE"
NAME="$NAME"
BASENAME="$BASENAME"
DESTINATION="$DESTINATION"
EOF
fi

catch_err () {
    if [ $? -ne 0 ]; then
        echo "Reverting changes on fail..."
        set -x
        git restore $DESTINATION/mod.rs
        rm $DESTINATION/$BASENAME -r
        exit 1
    fi
}

cargo generate \
    --name "$BASENAME" \
    -d name="$BASENAME" \
    --path ".config/templates/$TEMPLATE" \
    --destination "$DESTINATION";

catch_err

uv run .config/scripts/new_mod/main.py\
    "$DESTINATION/$BASENAME"\
    "$DEBUG"

catch_err

echo "[INFO] Formatting ..."
cargo fmt -- -l;
'''

[tasks.delete]
alias=['del', 'd']
description="Remove a generated service or screen"
usage = '''
arg "<template>" help="The template to remove." {
    choices "screen" "service"
}

arg "<name>" help="Name of the generated module." long_help="""
The chosen template will be removed from the src directory corresponding to the
template, postfixed with given template name. For example, calling
'mise new service foo/bar' will generate 'src/service/foo/bar/...'.
"""

flag "--debug" help="Enable debug output."
'''
run='''
#!/usr/bin/bash
set -e
TEMPLATE=${usage_template?}
NAME=${usage_name?}
DESTINATION="$(realpath src/$TEMPLATE/$NAME)"
DEBUG=${usage_debug:+--debug}

uv run .config/scripts/new_mod/main.py\
    "$DESTINATION" \
    --remove \
    $DEBUG

set -x
rm -r $DESTINATION
set +x

echo "[INFO] Formatting ..."
cargo fmt -- -l;
'''
